/nbproject/private/
/nbproject/
/application/configs/local.php
/public/yui/
/public/digital_gallery/
/public/assets/
/private/
/data/
/vendor/
/bin/behat.bat
/bin/behat
/composer.phar
/bin/phpunit.bat
/bin/phpunit
/bin/webunit
/bin/webunit.bat
/bin/phinx.bat
/bin/phing
/bin/phinx
/bin/phing.bat
/.vagrant/
/build/behat/
/tests/functional/features/bootstrap/_files/digital_gallery.zip
/tests/functional/features/bootstrap/_files/digital_gallery_empty.zip
/tests/functional/features/bootstrap/_files/digital_gallery_large.zip